body {
    text-align: center;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Oxygen, sans-serif;
    letter-spacing: 1px;
}

h1::first-letter,
h2::first-letter {
    font-size: 130%;
    letter-spacing: 1.5px;
}

p, li, a, button, label, input {
    font-family: "Noto Serif", serif;
    font-weight: 400px;
    font-size: 16px;
    letter-spacing: .75px;
    
}
/*common Use*/
.container {
    margin: 0 auto;
    width: 50%;
}


.bold-underlined {
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.2rem;
}

.border {
    border: solid 1px;
}

.center {
    width: 80%;
    padding-bottom: 20px;
    text-align: left;
    padding: 0 10% 0 10%;
}

.nested-list li ul {
    margin-bottom: 20px;
}

/*Navigation*/
.hyperlink {
    display: block;
    color: #199cd8;
    text-decoration: none;
    height: 20px;
    padding-top: 10px;
    padding-bottom: 30px;

}

.hyperlink:hover {
    text-decoration: underline;
    color: #19d8b5;
}

.hyperlink:active {
    color: #00a685;
}

.search-input {
    background-color: hsla(170, 100%, 71%, 15%);
    border: 1px solid #66cdff;
    margin: 20px 0 0 20px;
}

.search-input:hover {
    border: 1px solid #006ea6;
}
/*color style section*/

.font-zero { /*Clears empty space between inline-block div*/
    font-size: 0px;
}

.color-container { 
    width: 100%; 
}

.primary-color {
    background-color: #199cd8;
    font-size: 1rem;

}

.primary-color-light {
    background-color: #66cdff;
    font-size: 1rem;
}

.primary-color-dark {
    background-color: #006ea6;
    font-size: 1rem;
}

.secondary-color {
    background-color: #19d8b5;
    font-size: 1rem;

}

.secondary-color-light {
    background-color: #69ffe7;
    font-size: 1rem;
}

.secondary-color-dark {
    background-color: #00a685;
    font-size: 1rem;
}

.pallet-large {
    width: 100%;
    height: 250px;
}

.pallet-large p {
    padding-top: 110px;
    padding-bottom: 110px;
}

.pallet-small {
    width: 50%;
    height: 125px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

.pallet-small p {
    padding-top: 20px;
}

/*Typography*/

.oxygen-font p,
.oxygen-font h4 {
font-family: oxygen;
}

.noto-serif-font p,
.noto-serif-font h4 {
    font-family: "Noto-Serif";
}

/*Interaction section*/
button {
    background-color: #19d8b5;
    border: solid 1px #66cdff;
    width: 150px;
    height: 50px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 2px #199cd8;
    margin: 10px;
}

button:hover {
    background-color: #69ffe7;
    font-weight: 700;
}

button:active {
    background-color: #199cd8;
    box-shadow: 0 0 0 0;
    color:white;
}

.menu {
    background-color: hsla(170, 100%, 71%, 15%);
    list-style: none;
    width: 50%;
    margin: auto;
    text-align: left;
    padding-left: 0px;
    margin-bottom: 30px;
    margin-top: 30px;
    
}

.menu a {
    text-decoration: none;
    color: rgb(8, 8, 8);
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 0 10px 0;
    border-bottom: solid 2px hsla(200, 100%, 70%, 30%);
    
}

.menu a:hover {
    background-color: #69ffe7;
}

.menu a:active {
    background-color: #00a685;
    color: white;
    font-weight: 700;
}

